*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: hsl(0, 0%, 100%);
  
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh
}

.container {
  width: 28.5%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aling-items {
  width: 20rem;
}

.registro-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  background: linear-gradient(180deg, #9f4147 0%, #bf7083 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  text-decoration: none;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
  font-size: inherit;
}

label {
  font-size: 1.1rem;
  font-weight: 550;
}

.name-container,
.apellido-container,
.email-container,
.direccion-container,
.cel-container,
.password-container {
  margin-bottom: 2rem;
}

input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.2rem solid #bf7083;
  transition: border 200ms ease-in-out;
}

input:hover {
  border: 0.2rem solid #9f4147;
}

input:focus-visible {
  outline: 0;
}

.guardar-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #bf7083;
  color: #fff;
  font-weight: 600;
  width: 100%;
  transition: background-color 200ms ease;
}

.guardar-button:hover {
  background-color: #9f4147;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imagen img{
  width: 100%;
}
