<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <!-- <head th:insert = "~{user/template_user::head}"></head> -->

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="productdetail.css" />
    <title>Product Detail</title>
  </head>

  <body>
    <!-- Navigation -->
    <div th:insert="~{user/template_user::header}" th:if="${id==null}"></div>
    <div
      th:insert="~{user/template_user::userlogger}"
      th:unless="${id==null}"
    ></div>

    <!-- Page Content -->
    <!-- Blog Post -->
    <div class="aling-menu">
      <div class="contenedor">

        <div class="imagen">
          <a href="#">
            <img
              class="img-img"
              th:src="@{/images/{img}  (img = ${product.image})} "
              alt=""
              src="img/takis.jpg"
            />
          </a>
        </div>
        <div class="datos-contenedor">
          <form th:action="@{/user/cart/add-product}" method="POST">
            <input type="hidden" th:value="${product.id}" name="idProduct" />
            <input
              type="hidden"
              th:value="${product.name}"
              name="nameProduct"
            />
            <input type="hidden" th:value="${product.price}" name="price" />

            <!--No va nada-->
            <h2 class="title" th:text="${product.name}">Takis Fuego</h2>
            <!--No va nada-->
            <ul class="ul-container">
              <li class="price">
                <h5 th:text=" 'Precio : S/.'+ ${product.price}">s/10.00</h5>
              </li>
              <li class="stock">
                <h5 th:text=" 'Stock : '+ ${stock}+ ' unidades'">10</h5>
              </li>
              <li class="descripcion">
                <p th:text="'Descripción: '+ ${product.description}">
                  Takis fuego potente picor
                </p>
              </li>
              <li class="cantidad">
                <h6>
                  Cantidad:
                  <input
                    class="cantidad-input"
                    type="number"
                    id="quantity"
                    name="quantity"
                    autocomplete="off"
                    min="1"
                    max="5"
                    value="1"
                  />
                </h6>
              </li>
            </ul>

            <button type="submit" class="añadir-carrito">
              Añadir al carrito
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <div th:insert="~{user/template_user::footer}"></div>
  </body>
</html>
