<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <!--<head th:insert = "~{user/template_user::head}"></head> -->

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="sumaryorder.css" />
    <title>Sumary Order</title>
  </head>

  <body>
    <!-- Navigation -->
    <div th:insert="~{user/template_user::header}" th:if="${id==null}"></div>
    <div
      th:insert="~{user/template_user::userlogger}"
      th:unless="${id==null}"
    ></div>

    <!-- Page Content -->
    <div class="container">
      <div class="aling">
        <!-- Blog Post -->
        <div class="datos-container">
          <h5 class="title-orden">DATOS ORDEN</h5>
          <h6
            class="nombre"
            th:text="'Nombre: '+ ${user.firsName} + ' '+ ${user.lastName}"
          >
            Nombre:
          </h6>
          <h6 class="email" th:text="'Correo: '+ ${user.email}">Correo:</h6>
          <h6 class="address" th:text="'Dirección: '+ ${user.address}">
            Dirección
          </h6>

          <h5 class="title-products">PRODUCTOS</h5>
          <div class="container-table" role="alert">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item:${cart} ">
                  <td th:text="${item.nameProduct}">Nombre</td>
                  <td th:text="${item.price}">Precio</td>
                  <td th:text="${item.quantity}">Cantidad</td>
                  <td th:text="${item.getTotalPriceItem()}">Total</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="resumen-container">
          <h2 class="card-title">Resumen Orden</h2>

          <ul class="lista">
            <li class="total"><h5 th:text="${total}">Total:</h5></li>
            <a th:href="@{/user/order/create-order}" class="btn btn-dark"
              >Generar</a
            >
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <div th:insert="~{user/template_user::footer}"></div>
  </body>
</html>
